.project-title {
    font-size: 8rem;
    font-style: italic;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 10vh;
}

.grid-projects {
    height: 70vh;
    display: grid;
    grid-template-columns: auto auto;
}

.project {
    height: 60vh;
    width: 70vh;
    border-radius: 25px;
    margin-bottom: 1vh;
    border: 0.5vh solid var(--primary-color);
}

.project:hover {
    box-shadow:
    0 0 0.15rem 0.20rem var(--hightlights-color);
    transition: 500ms ease-in-out;
}

.item-1-title {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 15vh;
    color: var(--primary-color);
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.delay {
    transition-delay: 200ms;
}

@media(prefers-reduced-motion) {
    .project:hover{
        transition: none;
    }
}

@media(max-width:1200px) {
    .grid-projects {
        height: 70vh;
        display: grid;
        grid-template-columns: auto;
    }

    .item {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .project-title {
        font-size: 10rem;
        font-style: italic;
        font-weight: 500;
        color: var(--primary-color);
        margin-bottom: 5vh;
        text-align: center;
    }

    .project {
        height: 30vh;
        width: 35vh;
        border-radius: 25px;
        margin-bottom: 1vh;
        border: 0.5vh solid var(--primary-color);
    }
    
    .item-1-title {
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 10vh;
        color: var(--primary-color);
    }

    .item-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
    }

}