html {
    scroll-behavior: smooth;
  }

body {
    background-color: var(--secondary-color);
    position: relative;
}

main {
    margin-top: 9vh;
}

.body-container {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.projects-section {
    margin-bottom: 150vh;
    width: 100%;
}
 
.contact-section {
    margin-bottom: 10vh;
}

@media(max-width:1200px) {
    main {
        margin-top: 8vh;
    }
    .body-container {
        width: 85%;
    }

    .projects-section {
        margin-bottom: 150vh;
        width: 100%;
    }
}