footer {
    height: 10vh;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.sources {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.sources a {
    color: var(--secondary-color);
    font-size: 1.35rem;
    text-decoration: underline;
    opacity: .75;
    font-style: italic;
}

.sources a:hover {
    color: var(--hightlights-color);
    transition: 500ms ease-in-out;
}

@media(prefers-reduced-motion) { 
    .sources a:hover {
        transition: none;
    }
}

@media(max-width:1200px) {
    .sources {
        width: 75%;
    }
    .sources a {
        font-size: 1rem;
    }

    .sources {
        justify-content: center;
        gap: 4vw;
    }
}