html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

body {
    background-color: var(--secondary-color);
    position: relative;
}

main {
    margin-top: 9vh;
}

.btn {
    font-size: 7rem;
}

.body-container {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

@media(max-width:1200px) {
    html {
        font-size: 20px;
    }
    main {
        margin-top: 21vh;
    }
    .body-container {
        width: 85%;
    }
    .btn {
        font-size: 4rem;
    }
    .footer-link {
        font-size: 1.1rem;
    }
}