.web_server_section {
    display: flex;
    width: 100%;
}

.web_server_subcontainer {
    width: 50%;
    height: 65vh;
    margin: 10vh 0 20vh 0;
    padding: 1vh;
    display: flex;
}

.subcontainer_1 {
    display: flex;
    flex-direction: column;
}

.title-web-server {
    font-size: 4rem;
    margin-bottom: 3vh;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
}

.description-web-server {
    font-size: 1.35rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 3vh;
}

.languages_used {
    display: flex;
    margin: 0 auto 5vh auto;
}

.language {
    color: var(--primary-color);
    font-size: 1.25rem;
    padding: 1vh;
    margin: 1vh;
    border: 0.35vh solid var(--primary-color);
    border-radius: 25px;
    font-weight: 600;
}

.source_code {
    margin: 0 auto 0 auto;
    font-size: 1.5rem;
    padding: 1.5vh;
    background-color: var(--primary-color);
    border-radius: 25px;
    color: var(--secondary-color);
    font-weight: 400;
}

.source_code:hover {
    background-color: var(--hightlights-color);
    transition: 750ms ease-in-out;
}

@media(prefers-reduced-motion) {
    .source_code:hover {
        transition: none;   
    }
}

.C_web_server {
    width: 75vh;
    height: 60vh;
    border-radius: 25px;
    border: 0.7vh solid var(--primary-color);
}

.hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1000ms;
    bottom: 50px;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.delay_project {
    transition-delay: 600ms;
}

.delay_1 {
    transition-delay: 100ms;
}

.delay_2 {
    transition-delay: 200ms;
}

.delay_3 {
    transition-delay: 300ms;
}

.delay_4 {
    transition-delay: 400ms;
}

.delay_5 {
    transition-delay: 500ms;
}

@media(prefers-reduced-motion) {
    .hide {
        transition: none;   
    }
}

@media(max-width:1200px) {
    .subcontainer_2 {
        display: none;
    }

    .web_server_subcontainer {
        width:100%;
        height: 65vh;
    }

    .web_server_section {
        display: flex;
        height: 95vh;
    }

    .title-web-server {
        font-size: 2rem;
        margin-bottom: 2vh;
    }

    .description-web-server {
        font-size: 1rem;
    }

    .language {
        color: var(--primary-color);
        font-size: 0.65rem;
        padding: 1vh;
        margin: 1vh;
        border: 2px solid var(--primary-color);
        border-radius: 25px;
        font-weight: 700;
    }

    .source_code {
        font-size: 1rem;
    }

    .contact_me {
        font-size: 2.75rem !important;
        text-align: center;
    }

    .mail {
        font-size: 0.8rem !important;
    }

    .collaborate {
        font-size: 1.25rem !important;
    }

    .item-1-title {
        font-size: 2rem !important;
    }
}